
#box{
  width : 800px;
  margin : 0 auto 50px;
  border : 2px solid #666;
  padding : 25px;
  box-sizing: border-box;
}

#btn{
  display: flex;
  justify-content: center;
  margin-bottom:25px;
}

#btn>button{
  padding : 20px 50px;
  border : none;
  color : #fff;
  background-color: orange;
  margin : 0 25px;
  font : bold 20px Arial,sans-serif;
}

#btn>button:last-child{
  background-color:#666;
}

#container{
  display: flex;
  justify-content: space-evenly;
  border : 1px solid #666;
  text-align: center;
  padding : 20px;
}

#container>h1{
  font:bold 18px '나눔고딕',sans-serif;
  color:#333;
  margin-bottom : 20px;
}

#container>figure{
  width : 250px;
  border : 1px solid #666;
}

#container>figure dl{
  width : 80%;
  margin : 0 auto;
  background-color: #666;
}
#container>figure dt{
  text-align: left;
  color:#fff;
  margin-bottom: 25px;
}

#container>figure dd{
  color : yellow;
  line-height: 20px;
}